<body>
    <app-navbar></app-navbar>
    <div class="welcome-container">
        <h1>Bienvenido {{ user.name }}</h1>
    </div>

    <!-- La información del usuario se mostrará solo si el usuario no es un administrador -->
    <ng-container *ngIf="!newUser.is_admin">
        <div class="user-info">
            <p>Nombre: {{ newUser.name }}</p>
            <p>Apellido: {{ newUser.last_name }}</p>
            <p>Email: {{ newUser.email }}</p>
            <p>Identificación: {{ newUser.id_number }}</p>
            <p>Número de celular: {{ newUser.mobile }}</p>
            <p>Fecha de cumpleaños: {{ newUser.date_of_birth }}</p>
        </div>

        <!-- Input para seleccionar categorías de música -->
        <div class="music-categories">
            <mat-form-field appearance="fill">
                <input type="text" matInput placeholder="Selecciona o escribe una categoría"
                    [formControl]="musicCategoriesControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                        {{ category.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </ng-container>
</body>
