/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del contenedor principal */
.change-password-container {
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Estilos del título */
h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilos de los campos de entrada de contraseña */
.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
}

/* Estilos del botón "Cambiar Contraseña" */
.change-password-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
