/* login.component.css */
.login-form {
    max-width: 400px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
}

/* Center the form vertically and horizontally */
.formcontacto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for the error message alert */
.alert {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}
